@model IEnumerable<SpiderLanguage.Models.Chapter>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Record and Upload your audio homework</a>.</p>
</div>


<h1 class="title">Our Chapters</h1>

<div class="page-container">
    @foreach (var item in Model)
    {
        <div class="item">
            <h3>
                @Html.DisplayFor(modelItem => item.Name)
            </h3>
            @if (item.ImageName != null)
            {
                <div>
                    <img src="@Url.Action("GetImage", "Home", new { id = item.Id })" />
                </div>
            }

            <div>
                <span class="display-label">
                    @Html.DisplayNameFor(modelItem => item.DatePublished)
                </span>
                <span class="display-field">
                    @Html.DisplayFor(model => item.DatePublished)
                </span>
            </div>
            <div>
                <span class="display-label">
                    @Html.DisplayNameFor(modelItem => item.Available)
                </span>
                <span class="display-field">
                    @Html.DisplayFor(model => item.Available)
                </span>
            </div>
        </div>
    }
</div>